<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Report</h1>
    <p>
      Dear User, You have successfully placed an order in jungle.com.<br>
    </p>
   <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order_total = 0 %>
          <% @line_item = LineItem.where(order_id: @order.id) %>
          <% @line_item.each do |p| %>
            <%= render 'item', product_id: p.product_id, qty: p.quantity %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= @order_total %>
            </th>
          </tr>
          <tr>
            <th>
              Order by:
            </th>
            <th>
              <%=  Order.find(@order.id).email %>
            </th>
          </tr>
        </tfoot>
      </table>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>
